body{
    background-color: #2B2B2B;
    font-family: 'Roboto', sans-serif;
    color: 	#C47D2C;
}
h1{
    text-align: center;
}
h3{
    text-align: center;
    padding: 10%;
}
#map {
    height: 200px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
}


#custom-search-input {
    margin:0;
    margin-top: 10px;
    padding: 0;
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 10%;
    margin-top: 2px;
    position: center;
    left: -28px;
    border-radius: 3px;
}
.fa-search{
    background-color: #2B2B2B;
    color: white;
}
.btn-b{
    background-color: #2B2B2B !important;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
